<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE generatorConfiguration PUBLIC
   "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
   "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry location="C:/Users/xczhang/.m2/repository/mysql/mysql-connector-java/8.0.13/mysql-connector-java-8.0.13.jar" />
	<context id="context1">
		<jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/mydb?serverTimezone=GMT%2B8" userId="root"
			password="root" />

		<javaModelGenerator targetPackage="com.example.demo.dataset"
			targetProject="demo" />
		<sqlMapGenerator targetPackage="com.example.demo.mapper"
			targetProject="demo" />
		<javaClientGenerator targetPackage="com.example.demo.mapper"
			targetProject="demo" type="XMLMAPPER" />

		<table tableName="user" />

	</context>
</generatorConfiguration>